# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
sonarlint/
.idea/sonarlint/issuestore/

# Project exclude paths
/logger_manager/build/
/logger_manager/build/classes/java/main/
/out/
communication_module/build/

client/build/
