# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
sonarlint/
.idea/sonarlint/issuestore/

.idea/inspectionProfiles/Project_Default.xml

.idea/gradle.xml

settings.gradle

# Project exclude paths
/logger_manager/build/
/logger_manager/build/classes/java/main/
/out/